<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sign up</title>
</head>
<body>
    <h3>sign up</h3>
    <div>
        <form action="/user" method="post">
            <label>Enter your full name</label>
            <input type="text" required placeholder="eg. jon snow" name="name">
            <label >enter your email</label>
            <input type="email" required placeholder="eg: example@gmail.com" name="email">
            <label >password</label>
            <input type="password" required placeholder="password" name="password">
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>